 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1144px;
}

.u-section-1 .u-image-1 {
  width: 198px;
  height: 198px;
  margin: 41px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: Inter;
  font-size: 3.75rem;
  font-weight: 600;
  margin: -10px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Inter;
  font-size: 1.3125rem;
  width: 724px;
  font-weight: 700;
  margin: 20px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1152px;
  }

  .u-section-1 .u-image-1 {
    width: 123px;
    height: 123px;
    margin-top: 46px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 29px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 509px;
}

.u-section-2 .u-group-1 {
  width: 1360px;
  --radius: 40px;
  height: auto;
  min-height: 450px;
  margin: 30px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-family: Inter;
  font-size: 3.75rem;
  font-weight: 600;
  margin: 90px auto 0 49px;
}

.u-section-2 .u-text-2 {
  font-family: Inter;
  font-weight: 700;
  margin: -159px 488px 0 auto;
}

.u-section-2 .u-text-3 {
  font-family: Inter;
  margin: 9px 432px 0 auto;
}

.u-section-2 .u-text-4 {
  font-family: Inter;
  margin: 8px 336px 0 auto;
}

.u-section-2 .u-social-icons-1 {
  height: 42px;
  min-height: 16px;
  width: 146px;
  min-width: 68px;
  margin: 47px auto 0 49px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 204px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 293px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 227px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 60px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 11px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: -166px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-2 .u-group-1 {
    min-height: 234px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 24px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 31px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 1px;
  }

  .u-section-2 .u-social-icons-1 {
    height: 25px;
    width: 95px;
    margin-top: -110px;
  }
}